html{
    height:100%;
}
body{
    width:950px;
    height:600px;
    margin-top:10px;
    margin:auto;
    background:#ccc;
}

.container{
    position:relative;
    width:950px;
    height:650px;
    margin-top:40px;
    background-color:rgb(29,78,104);
    border:0px solid #000;
    border-radius:30px;
    box-shadow:0 0 10px #000 inset
}

.left-column{
    padding-top:50px;
    min-height:570px;
    position: absolute;
    width:50%;
    padding:10px;
    float:left;
}
.right-column{
    padding-top:50px;
    min-height:570px;
    position: absolute;
    margin-left:50%;
    width:50%;
    padding:10px;
    float:left;
}
.graph{
    width:403px;
    margin-left:10px;
    margin-top:30px;
}
#graph-container{
    height:560px;
    background-color: rgb(247,238,214);
    border-radius:20px;
    box-shadow:3px 3px 20px #000
}
.screen{
    height:150px;
    width:390px;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    background-color: rgb(27,84,242);
    border-radius:20px;
    box-shadow:3px 3px 20px #000
}

.key-box{
    height:340px;
    width:350px;
    margin:auto;
    background-color: rgb(255,250,240);
    border-radius:20px;
    box-shadow:3px 3px 20px #000;
    padding:20px;
    overflow:auto;
}
.buffer{
    width:350px;
    margin:auto;
    padding:auto;
}
.key{
    float:left;
    height:35px;
    width:42px;
    margin:4px;
    background-color: rgb(255,250,240);
    border-radius:5px;
    box-shadow:2px 2px 5px #000 inset;
}
.little-circle{
    left: 0px;
    top: 0px;
    width:6px;
    height:6px;
    position:absolute;
    border-radius: 3px;
}
.hidden{
    display:none;
}
.color-name{
    float:right;
    padding:15px;
    padding-right:10px;
    font-size:40px;
    font-family:LiSu;
}
.clear{
    clear:both;
}
.color-info1{
    float:right;
    padding-top:10px;
    padding-right:10px;
    position:relative;
    font-size:14px;
    font-weight: bold;
}
.color-info2{
    float:right;
    padding-right:10px;
    position:relative;
    font-size:14px;
    font-weight: bold;
}

.move{
    height:140px;position:absolute;margin-top:50px;padding-top:150px
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    color:gray;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}